/* editMenu */
body {
  margin: 100 auto;
  width: 90%;
}
.edit-container {
  position: relative;
}
/* 編集トップセクション */
.edit-preview-container {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.edit-preview__contents {
  width: 50%;
  height: 340px;
  padding: 50px 0 50px 0;
  background-color: rgb(184, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contents__img {
  width: 50%;
  height: 100%;
  background-color: white;
  border: solid 1px;
}
.contents__title span p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.contents__title span p:nth-child(1) {
  margin-bottom: 0;
}
.contents__title span p:nth-child(2) {
  margin: 0;
}
.line {
  width: 100%;
  height: 5px;
  margin: 20px 0 20px 0;
  background-color: black;
}
.edit-menu-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* .edit-menu__title,
.edit-menu__upload-img {
  height: 90px;
  width: 250px;
  border: 1px
    solid
    rgba(
      53,
      252,
      152,
      0.938
    );
  border-radius: 50%;
  background-color: rgba(
    53,
    252,
    152,
    0.938
  );
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .edit-menu__title
  a, */

/* input[type="file"] {
  background-color: rgba(
    53,
    252,
    152,
    0.938
  );
  border-radius: 50%;
} */

.edit-menu__upload-img {
  display: inline-block;
  border-radius: 20%;
  font-size: 18pt;
  color: rgb(4, 4, 116);
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: skyblue;
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666; /* 影の設定 */
  border: 2px solid #000066; /* 枠の指定 */
  width: 300px;
  height: 60px;
}

/*  */
/*  */
.edit-menu__page-edit__contents {
  height: 40px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit-menu__page-edit__contents:nth-child(1) {
  background-color: rgb(250, 247, 157);
  border: 1px solid rgb(250, 247, 157);
  margin-bottom: 10px;
}
.edit-menu__page-edit__contents:nth-child(2) {
  background-color: rgb(157, 197, 250);
  border: 1px solid rgb(157, 197, 250);
}

.edit-menu__ehonChoice {
  height: 40px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit-menu__choice {
  background-color: rgb(234, 157, 250);
  border: 1px solid rgb(234, 157, 250);
}
.edit-menu__page-edit__contents p {
  margin: 0;
}
/* 編集ストーリーセクション */
.edit-preview__book,
.edit-preview__story {
  width: 50%;
  height: 440px;
  border: 1px solid;
}
.edit-preview__book .contents__img {
  width: 100%;
  height: 100%;
  border: none;
  background-color: bisque;
}
/* 編集エンドセクション */
#end_content {
  justify-content: space-between !important;
}
.contents__back {
  width: 50%;
  display: flex;
  justify-content: center;
}
.contents__back a {
  color: black;
  text-decoration: none;
  height: 100px;
  width: 100px;
  border: solid 1px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-container {
  background-image: url('../img/next.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75%;
  width: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}
.next-container:hover {
  background-image: url('../img/next_hover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75%;
  width: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}
.back-container {
  background-image: url('../img/back.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75%;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 0;
}
.back-container:hover {
  background-image: url('../img/back_hover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75%;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 0;
}

/* edit */
/* タイトル */
.edit__area {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  width: 45%;
  height: 440px;
  border: 1px solid rgba(53, 252, 152, 0.938);
  border-radius: 30%;
  background-color: rgba(53, 252, 152, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input__title-container p,
.input__fontsize-contaier p {
  text-align: center;
  font-size: 1.5rem;
}
.input__fontsize-contaier input {
  height: 30px;
}
.edit-submit {
  height: 90px;
  width: 250px;
  border: 1px solid rgba(53, 252, 152, 0.938);
  border-radius: 50%;
  background-color: rgba(53, 252, 152, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-submit a {
  color: black;
  text-decoration: none;
}

/* #MakeEhonTitle {
  display: none;
} */
