/* view.html */
/* 表紙セクション */
body {
  margin: 100 auto;
  width: 90%;
}
/* 絵本の領域 */
.view-container {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
/* flipbook適用(範囲的にはview-containerと一緒) */
.view__area {
  width: 100%;
  height: 480px;
  cursor: pointer;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.view__text-contents {
  border: solid 1px;
  background-color: olive;
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.view__text-contents__p {
  width: 85%;
  justify-content: center;
  /* text-align: center; */
}

.view__img-contents {
  background-color: rgb(184, 71, 71);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.contents__firstPic,
.contents__lastPic {
  width: 90%;
  border-radius: 20%;
  height: 70%;
  padding: 12px 0px 12px;
}

.contents__title {
  height: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.contents__title span p {
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.contents__title span p:nth-child(1) {
  margin-bottom: 0;
}
.contents__title span p:nth-child(2) {
  margin: 0;
}

/* ストーリーセクション */

/* .contents__img {
  width: 60%;
  height: 50%;
  background-color: white;
  border: solid 1px;
  align-items: center;
} */

.view__img-contents__main {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagePic {
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}
.contents__back {
  width: 50%;
  display: flex;
  justify-content: center;
}
.view__text-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 背表紙セクション */
.contents__back a {
  color: black;
  text-decoration: none;
  /* height: 100px;
  width: 100px; */
  border: solid 1px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-container {
  background-image: url('../img/next.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 5px;
  right: 0;
}
.next-container:hover {
  background-image: url('../img/next_hover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 5px;
  right: 0;
}
.back-container {
  background-image: url('../img/back.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 0;
}
.back-container:hover {
  background-image: url('../img/back_hover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 0;
}

.p2 {
  background-color: orange;
  background-image: url('../testImg/image2.jpeg');
}
